<div class=" container mx-md-5 my-md-5">
    <mat-list-item>New Conference</mat-list-item>
    <div class="col-md-12  my-5">
        <app-show-newconference></app-show-newconference>

    </div>

    <mat-divider></mat-divider>
    <mat-list-item> Free Conference</mat-list-item>
    <div class="col-md-12 my-5">
        <app-free-conference></app-free-conference>

    </div>
    <mat-divider></mat-divider>
    <mat-list-item>Informatics</mat-list-item>
    <div class="col-md-12 my-5">
        <app-show-infoconference></app-show-infoconference>

    </div>
    <mat-divider></mat-divider>
    <mat-list-item>Pay Conference</mat-list-item>
    <div class="col-md-12 my-5">

        <app-pay-conference></app-pay-conference>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item>Science Conference</mat-list-item>
    <div class="col-md-12 my-5">
        <app-show-scienceconference></app-show-scienceconference>

    </div>
</div>
